PORT=5000
MONGO_URI=mongodb+srv://ayomiposiemmanuel9_db_user:KjBska39zb6phANg@bridges-database.mewsokg.mongodb.net/
JWT_SECRET=fonas_bridges
ADMIN_PASSWORD=bijst@2026
CLOUDINARY_CLOUD_NAME=vleoyybz
CLOUDINARY_API_KEY=796842819422519
CLOUDINARY_API_SECRET=mqBXZ7240zyw-dBYafs21DPsxSY
